
/header {
  text-align: right;
  color: black;
  font-family: "Amatic SC", cursive; 
} 

h1 {
  font-size: 15px;
  color: blue;
} 
 .container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  color: green;
  user-select: none; 
  text-align: center;
} 



a:link, a:visited {
    background-color: purple;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }



button {
   
  background-color: purple;
  border: none;
  color: #fdfdfd;
 }
 
 #question{
  width:500px;
  height : 125px;
 /*  position: absolute;
  right:0;
  top:0; */ 
}
#question p{
  margin : 0;
  padding : 15px;
  font-size: 1.25em;
}

#choices{
  width : 480px;
  /* position: absolute;
  right : 0;
  top : 125px;
  padding : 10px */
}
.choice{
  display: inline-block;
  width : 135px;
  text-align: center;
  border : 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding : 5px;
}
.choice:hover{
  border : 2px solid grey;
  font-weight: bold;
}







