



/* header {
  text-align: right;
  color: black;
  font-family: "Amatic SC", cursive; 
} */

h1 {
  font-size: 15px;
  color: blue;
} 
 .container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  color: green;
  /* user-select: none; */
  text-align: center;
} 

a:link, a:visited {
    background-color: purple;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }



button {
   
  background-color: purple;
  border: none;
  color: #fdfdfd;
 }






